/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* .hide {
    display: none;
}

.show {
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    padding: 10px;
    max-height: 500px;
}

.show h1 {
    margin: 0;
} */

body {
    background: rgb(174,238,180);
    background: radial-gradient(circle, rgba(174,238,180,1) 0%, rgba(148,187,233,1) 100%);
    color: darkslategray;
}

#navbar {
    margin: 10px;
    width: 100%;
    height: 20px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}

#nav-game-logo {
    width: 384px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#nav-game-logo img {
    width: inherit;
    height: inherit;
}

#nav-links {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-links h1 {
    font-size: 14px;
}

#nav-links a {
    width: 14px;
    height: 14px;
    font-size: 14px;
    text-decoration: none;
    color: darkslategray;
}

#nav-links a:hover {
    color: grey;
}

#game-container {
    margin: 0 10px 10px 10px;
    width: 1200px;
    height: 600px;
    border: 1px solid;
}

#game-header {
    width: inherit;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.game-header-side {
    width: 35%;
    height: 100%;
}

.help-button {
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    border: none;
    border-radius: 5px;
}

#controls-button {
    width: 100px;
}

#periodic-button {
    width: 150px;
}

.help-button:hover {
    background-color: #94bbe9;
    cursor: pointer;
    color: white
}

#player-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

#status-header, #status-values {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}

#help {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game-content-container {
    width: inherit;
    height: 560px;
}

.slideshow-container {
  width: inherit;
  position: relative;
  margin: auto;
}

.about-slide {
  display: none;
}

.about-slide img {
    width: 100%;
    height: 560px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* #periodic-table.show {
    display: flex;
    justify-content: center;
}

#periodic-table img {
    width: 75vw;
    height: auto;
}

#periodic-table img:hover {
    transform: scale(1.3);
}

canvas {
    background: transparent;
    width: inherit;
    height: inherit;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
} */