/* .hide {
    display: none;
}

.show {
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    padding: 10px;
    max-height: 500px;
}

.show h1 {
    margin: 0;
} */

body {
    background: rgb(174,238,180);
    background: radial-gradient(circle, rgba(174,238,180,1) 0%, rgba(148,187,233,1) 100%);
    color: darkslategray;
    width: 100%;
    height: 100%;
}

#app {
    margin: 0 auto;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    margin: 10px;
    width: 1200px;
    height: 40px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
}

#nav-game-logo {
    width: 384px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#nav-game-logo img {
    width: inherit;
    height: inherit;
}

#nav-links {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-links h1 {
    font-size: 18px;
}

#nav-links a {
    width: 32px;
    height: 32px;
    font-size: 32px;
    text-decoration: none;
    color: darkslategray;
}

#nav-links a:hover {
    color: grey;
}

#game-container {
    margin: 0 10px 10px 10px;
    width: 1200px;
    height: 600px;
    border: 1px solid;
}

#game-header {
    width: inherit;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.game-header-side {
    width: 35%;
    height: 100%;
}

.help-button {
    height: 30px;
    width: 80px;
    font-size: 16px;
    font-weight: bold;
    color: inherit;
    border: none;
    border-radius: 5px;
}

#controls-button {
    width: 100px;
}

#periodic-button {
    width: 150px;
}

.help-button:hover {
    background-color: #94bbe9;
    cursor: pointer;
    color: white
}

#player-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

#status-header, #status-values {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}

#help {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game-content-container {
    width: inherit;
    height: 560px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* #periodic-table.show {
    display: flex;
    justify-content: center;
}

#periodic-table img {
    width: 75vw;
    height: auto;
}

#periodic-table img:hover {
    transform: scale(1.3);
}

canvas {
    background: transparent;
    width: inherit;
    height: inherit;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
} */