.hide {
    display: none;
}

body {
    background: rgb(174,238,180);
    background: radial-gradient(circle, rgba(174,238,180,1) 0%, rgba(148,187,233,1) 100%);
    color: darkslategray;
    width: calc(100% - 10px);
    height: 100%;
}

#app {
    margin: 0 auto;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    width: 100%;
    height: 40px;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav-logo {
    width: 384px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#nav-logo img {
    width: inherit;
    height: inherit;
}

#nav-logo h1 {
    margin: 0;
}

#nav-links {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-links a {
    width: 36px;
    height: 36px;
    text-decoration: none;
    color: darkslategray;
}

#nav-links a:hover {
    color: grey;
}

#nav-links i {
    font-size: 36px;
}

#nav-links h1 {
    font-size: 18px;
}

#game-header {
    width: inherit;
    height: 40px;
    border-top: 5px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    display: flex;
    justify-content: space-between;
}

.game-header-side {
    width: 35%;
    height: 100%;
}

#player-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

#status-header, #status-values {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#help {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game {
    width: inherit;
    height: 600px;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    background-color: grey;
}

#canvas {
    background: transparent;
}